/* Edit theme.less, not this file. */ .clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after {
  clear: both;
}
html,
body {
  border: none;
  margin: 0;
  padding: 0;
}
.caption {
  color: #3F3E3C;
  font-family: 'Yanone kaffeesatz', arial, sans-serif;
  font-size: 140%;
  font-style: normal;
  font-weight: normal;
}
.signature {
  color: #3F3E3C;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}
.note {
  background-color: transparent;
  border-left-color: #747474;
  border-left-style: solid;
  border-left-width: 2px;
  color: #3F3E3C;
  display: block;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding-left: 1em;
}
.button {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
}
.ipWidget {
  zoom: 1;
  margin-bottom: 20px;
}
.ipWidget:before,
.ipWidget:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipWidget:after {
  clear: both;
}
.ipWidget:last-child {
  margin-bottom: 0;
}
.ipPreviewWidget {
  color: #3F3E3C;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ipPreviewWidget h1,
.ipPreviewWidget h2,
.ipPreviewWidget h3,
.ipPreviewWidget h4,
.ipPreviewWidget h5,
.ipPreviewWidget h6,
.ipPreviewWidget img,
.ipPreviewWidget blockquote,
.ipPreviewWidget p,
.ipPreviewWidget ul,
.ipPreviewWidget ol,
.ipPreviewWidget li,
.ipPreviewWidget dl,
.ipPreviewWidget dd,
.ipPreviewWidget dt,
.ipPreviewWidget pre {
  border: none;
  margin: 0;
  padding: 0;
}
.ipPreviewWidget .caption {
  color: #3F3E3C;
  font-family: 'Yanone kaffeesatz', arial, sans-serif;
  font-size: 140%;
  font-style: normal;
  font-weight: normal;
}
.ipPreviewWidget .signature {
  color: #fff;
  font-size: 100%;
  color: #3F3E3C;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}
.ipPreviewWidget .note {
  background-color: transparent;
  border-left-color: #747474;
  border-left-style: solid;
  border-left-width: 2px;
  color: #3F3E3C;
  display: block;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding-left: 1em;
}
.ipPreviewWidget .button {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
}
.ipPreviewWidget h1 {
  color: #fff;
  font-family: Delicious;
  font-size: 210%;
}
.ipPreviewWidget h2 {
  color: ;
  font-family: Delicious;
  font-size: 175%;
}
.ipPreviewWidget h3 {
  color: #362C20;
  font-family: Delicious;
  font-size: 140%;
}
.ipPreviewWidget ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 0.5em 1em;
}
.ipPreviewWidget ol {
  list-style-position: inside;
  margin: 0 0 0.5em 1em;
}
.ipPreviewWidget p {
  line-height: 1.5;
  margin-bottom: 0.5em;
}
.ipPreviewWidget ul ul,
.ipPreviewWidget ol ol {
  margin-bottom: 0;
}
.ipPreviewWidget li {
  line-height: 1.5;
  margin-bottom: 5px;
}
.ipPreviewWidget p+ul,
.ipPreviewWidget p+ol {
  margin-top: -0.25em;
}
.ipPreviewWidget a {
  color: #000;
  text-decoration: none;
}
.ipPreviewWidget a:hover {
  text-decoration: underline;
}
.ipPreviewWidget table {
  border-collapse: collapse;
  color: #3F3E3C;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  width: 100%;
}
.ipPreviewWidget table p {
  line-height: auto;
  margin: 0;
}
.ipPreviewWidget td {
  border-bottom: 1px solid #b2b2b2;
  font-size: 1em;
  padding: 9px;
}
.ipPreviewWidget th,
.ipPreviewWidget thead td,
.ipPreviewWidget tbody tr:first-child td {
  font-size: 1em;
  font-weight: bold;
}
.ipPreviewWidget thead+tbody tr:first-child td {
  background-color: transparent;
  border-bottom: 1px solid #8e8e8e;
  color: inherit;
  font-size: 1em;
  font-weight: normal;
}
.ipPreviewWidget p:last-child,
.ipPreviewWidget ul:last-child,
.ipPreviewWidget ol:last-child {
  margin-bottom: 0;
}
.ipModuleForm form,
.ipModuleForm fieldset,
.ipModuleForm label {
  border: none;
  margin: 0;
  padding: 0;
}
.ipModuleForm input,
.ipModuleForm select,
.ipModuleForm textarea,
.ipModuleForm option {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ipModuleForm .ipmPage {
  max-width: 100%;
  overflow: auto;
}
.ipModuleForm .ipmField {
  margin-bottom: 20px;
  position: relative;
  zoom: 1;
}
.ipModuleForm .ipmField:before,
.ipModuleForm .ipmField:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .ipmField:after {
  clear: both;
}
.ipModuleForm .ipmField:last-child {
  margin-bottom: 0;
}
.ipModuleForm .ipmType-blank {
  margin: -20px 0 0;
  position: absolute;
}
.ipModuleForm .ipmLabel {
  display: block;
  font-weight: bold;
  margin: 0 0 3px 0;
  min-height: 1px;
}
.ipModuleForm .ipmControlBlank {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .ipmControlInput {
  background-color: #EFF8FB;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
}
.ipModuleForm .ipmControlInput:focus {
  background-color: #FFF;
  border-color: #000;
  color: #000;
}
.ipModuleForm .ipmControlTextarea {
  background-color: #EFF8FB;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
  height: 10em;
  overflow: auto;
}
.ipModuleForm .ipmControlTextarea:focus {
  background-color: #FFF;
  border-color: #000;
  color: #000;
}
.ipModuleForm .ipmControlSelect {
  background-color: #EFF8FB;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
}
.ipModuleForm .ipmControlSelect:focus {
  background-color: #FFF;
  border-color: #000;
  color: #000;
}
.ipModuleForm .ipmType-confirm .ipmControlCheckbox {
  float: left;
}
.ipModuleForm .ipmControlConfirmOptions {
  margin-left: 25px;
}
.ipModuleForm .ipmType-captcha .ipmControl img {
  display: block;
  max-width: 100%;
}
.ipModuleForm .ipmNote {
  color: #73716e;
  font-size: 12px;
}
.ipModuleForm .ipmHint {
  background-color: #747474;
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 4px 10px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1;
}
.ipModuleForm .ipmField:hover .ipmHint {
  display: block;
}
.ipModuleForm .ipmControlSubmit {
  background: #000;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 1em;
}
.ipModuleForm .ipmControlSubmit:hover {
  box-shadow: 0 0 0 1px #000 inset;
  background: #000000;
}
.ipModuleForm .ipmControlError {
  border-color: #b80000;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput {
  width: 0;
  height: 0;
  overflow: hidden;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput input {
  margin: 0;
  padding: 0;
}
.ipModuleForm .ipmFileContainer .ipmFile {
  background-color: #a7a7a7;
  margin-top: 5px;
  padding: 0.5em;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove {
  cursor: pointer;
  float: right;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove:before {
  border: 1px solid #747474;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #3F3E3C;
  content: '\00D7';
  display: inline-block;
  height: 15px;
  line-height: 15px;
  text-align: center;
  width: 15px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove:hover:before {
  background-color: #000;
  color: #fff;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmFileProgress {
  border: 1px solid #747474;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmFileProgressValue {
  background-color: #747474;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmUploadError {
  color: #b80000;
  font-size: 12px;
}
.ipmErrorMessage {
  background-color: #b80000;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px 2px;
}
.mceContentBody {
  color: #3F3E3C;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: #FFF;
}
.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6,
.mceContentBody img,
.mceContentBody blockquote,
.mceContentBody p,
.mceContentBody ul,
.mceContentBody ol,
.mceContentBody li,
.mceContentBody dl,
.mceContentBody dd,
.mceContentBody dt,
.mceContentBody pre {
  border: none;
  margin: 0;
  padding: 0;
}
.mceContentBody .caption {
  color: #3F3E3C;
  font-family: 'Yanone kaffeesatz', arial, sans-serif;
  font-size: 140%;
  font-style: normal;
  font-weight: normal;
}
.mceContentBody .signature {
  color: #fff;
  font-size: 100%;
  color: #3F3E3C;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}
.mceContentBody .note {
  background-color: transparent;
  border-left-color: #747474;
  border-left-style: solid;
  border-left-width: 2px;
  color: #3F3E3C;
  display: block;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding-left: 1em;
}
.mceContentBody .button {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
}
.mceContentBody h1 {
  color: #fff;
  font-family: Delicious;
  font-size: 210%;
}
.mceContentBody h2 {
  color: ;
  font-family: Delicious;
  font-size: 175%;
}
.mceContentBody h3 {
  color: #362C20;
  font-family: Delicious;
  font-size: 140%;
}
.mceContentBody ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 0.5em 1em;
}
.mceContentBody ol {
  list-style-position: inside;
  margin: 0 0 0.5em 1em;
}
.mceContentBody p {
  line-height: 1.5;
  margin-bottom: 0.5em;
}
.mceContentBody ul ul,
.mceContentBody ol ol {
  margin-bottom: 0;
}
.mceContentBody li {
  line-height: 1.5;
  margin-bottom: 5px;
}
.mceContentBody p+ul,
.mceContentBody p+ol {
  margin-top: -0.25em;
}
.mceContentBody a {
  color: #000;
  text-decoration: none;
}
.mceContentBody a:hover {
  text-decoration: underline;
}
.mceContentBody table {
  border-collapse: collapse;
  color: #3F3E3C;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  width: 100%;
}
.mceContentBody table p {
  line-height: auto;
  margin: 0;
}
.mceContentBody td {
  border-bottom: 1px solid #b2b2b2;
  font-size: 1em;
  padding: 9px;
}
.mceContentBody th,
.mceContentBody thead td,
.mceContentBody tbody tr:first-child td {
  font-size: 1em;
  font-weight: bold;
}
.mceContentBody thead+tbody tr:first-child td {
  background-color: transparent;
  border-bottom: 1px solid #8e8e8e;
  color: inherit;
  font-size: 1em;
  font-weight: normal;
}
.mceContentBody p:last-child,
.mceContentBody ul:last-child,
.mceContentBody ol:last-child {
  margin-bottom: 0;
}
.ipWidget-IpFaq {
  padding-left: 30px;
}
.ipWidget-IpFaq .ipwQuestion {
  color: #3F3E3C;
  cursor: pointer;
  font-family: 'Yanone kaffeesatz', arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.ipWidget-IpFaq .ipwQuestion:hover {
  text-decoration: underline;
}
.ipWidget-IpFaq .ipwQuestion:hover:before {
  background-color: #f3f3f3;
}
.ipWidget-IpFaq .ipwQuestion:before {
  border: 1px solid #000;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #3F3E3C;
  content: '?';
  display: block;
  margin: 3px 0 0 -30px;
  padding: 1px 2px;
  position: absolute;
}
.ipWidget-IpFaq .ipwQuestion .ipwAnswer {
  margin-top: 5px;
}
.ipWidget-IpFaq .ipwQuestion .ipwCollapsed .ipwAnswer {
  display: none;
}
.ipWidget-IpFaq .ipwExpanded .ipwQuestion:before {
  background-color: #000;
  color: #fff;
}
.ipWidget-IpFile ul {
  list-style: none;
  margin-left: 0;
}
.ipWidget-IpFile a {
  color: #000;
  font-weight: bold;
}
.ipWidget-IpFile a:hover {
  text-decoration: underline;
}
.ipWidget-IpForm .ipwSuccess {
  border: 1px solid #888;
  display: none;
  padding: 20px 25px;
}
.ipWidget-IpHtml {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-IpImage img {
  display: block;
  max-width: 100%;
}
.ipWidget-IpImageGallery {
  margin-bottom: 0px;
}
.ipWidget-IpImageGallery ul {
  list-style: none;
  margin: 0 -10px;
}
.ipWidget-IpImageGallery li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 25%;
}
.ipWidget-IpImageGallery li img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .ipWidget-IpImageGallery ul {
    margin: 0 -10px;
  }
  .ipWidget-IpImageGallery li {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
.ipWidget-IpLogoGallery {
  margin-bottom: 0px;
}
.ipWidget-IpLogoGallery ul {
  list-style: none;
  margin: 0 -10px;
}
.ipWidget-IpLogoGallery li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 25%;
}
.ipWidget-IpLogoGallery li img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .ipWidget-IpLogoGallery ul {
    margin: 0 -10px;
  }
  .ipWidget-IpLogoGallery li {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
.ipWidget-IpRichText pre {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-IpSeparator.ipLayout-default {
  border-bottom: 1px solid #747474;
  height: 0;
  overflow: hidden;
}
.ipWidget-IpSeparator.ipLayout-space {
  height: 25px;
}
.ipWidget-IpTable {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-IpTextImage .ipwImage {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}
.ipWidget-IpTextImage.ipLayout-right .ipwImage {
  float: right;
  margin: 0 0 20px 20px;
}
.ipWidget-IpTitle {
  margin-bottom: 10px;
  padding-top: 10px;
}
.ipWidget-IpTitle:first-child {
  padding-top: 0;
}
.currentPage {
  font-weight: bold;
  display: none;
  margin-right: 10px;
}
.topmenuToggle {
  background: #000 url(img/icon_menu.png) no-repeat center center;
  border-radius: 3px;
  color: #fff;
  display: none;
  margin-top: 20px;
  padding: 0.75em 1.5em;
}
.topmenu {
  float: right;
  font-size: 1em;
  margin-top: 20px;
}
.topmenu ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu li {
  position: relative;
}
.topmenu .level1 > li {
  display: inline-block;
}
.topmenu a {
  color: #000;
  display: block;
  padding: 0.5em 1em;
  white-space: nowrap;
}
.topmenu a:hover {
  text-decoration: underline;
}
.topmenu .current > a {
  color: #FF9A66;
  font-weight: bold;
}
.topmenu .selected > a {
  color: #3F3E3C;
  font-weight: bold;
}
.topmenu .subnodes > a {
  padding-right: 30px;
}
.topmenu .subnodes > a:after {
  content: '\25BC';
  position: absolute;
  right: 5px;
}
.topmenu .level1 ul {
  background-color: #808080;
  border: 1px solid #747474;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  display: none;
  position: absolute;
  z-index: 10;
}
.topmenu li:hover > ul {
  display: block;
}
.topmenu .level2 ul {
  margin-left: 100%;
  top: 0;
}
.topmenuPopup {
  background-color: #FFF;
  border: 1px solid #747474;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.languages {
  display: inline-block;
  margin-left: 20px;
}
.languages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.languages li {
  display: inline-block;
}
.languages a {
  color: #fff;
  display: block;
  padding: 0.5em 0.25em;
  white-space: nowrap;
}
.languages a:hover {
  text-decoration: underline;
}
.languages .current a {
  font-weight: bold;
}
.sidenav nav {
  font-size: 1em;
}
.sidenav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidenav nav ul ul {
  margin-left: 1em;
}
.sidenav nav a {
  color: #fff;
  display: block;
  margin-bottom: 10px;
}
.sidenav nav a:hover {
  text-decoration: underline;
}
.sidenav nav .current > a {
  font-weight: bold;
}
.sidenav nav .selected > a {
  color: #3F3E3C;
  font-weight: bold;
}
.sidenav nav.collapse .level1 ul {
  display: none;
}
.sidenav nav.collapse .current ul,
.sidenav nav.collapse .selected ul {
  display: block;
}
@media screen and (max-width:  - 1px) {
  .currentPage,
  .topmenuToggle {
    display: inline-block;
  }
  .topmenu {
    background-color: #FFF;
    border: 1px solid #747474;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .topmenu .level1 ul {
    border: none;
    box-shadow: none;
    margin: 0 10px;
    position: static;
  }
  .topmenu .level1 > li {
    display: list-item;
  }
  .languages {
    border-top: 1px solid #747474;
    display: block;
    margin-left: 0;
  }
  .languages a {
    padding: 0.5em 1em;
  }
}
.topmenu .selected > a {
  color: #fff;
}
@font-face {
  font-family: Delicious;
  src: url('css/Delicious-Roman.otf');
}
@font-face {
  font-family: Delicious;
  font-weight: bold;
  src: url('css/Delicious-Bold.otf');
}
body {
  background-image: url('images/bgNoLine.png');
  background-repeat: repeat;
}
.slides_container {
  width: 100%;
  height: auto;
}
.slides_container img {
  display: block;
  width: 100%;
  height: 100%;
}
.wrapper {
  clear: both;
  margin: 0 auto;
  max-width: 970px;
  padding: 0;
}
.theme {
  height: 100%;
}
.topContainer header {
  clear: both;
  float: none;
  margin: 0px;
  padding: 0px;
}
.topContainer {
  background-image: url('images/bgNoLine.png');
  background-repeat: repeat;
  border-bottom: 5px solid #7D7D7D;
  clear: both;
  margin: 0 auto;
  width: 100%;
}
#intro {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 15px solid #E9EAEB;
}
.headerLogoBottom {
  background-color: #FF6666;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  text-align: left;
}
.slogan {
  color: #FFFFFF;
  font-size: 150%;
  font-style: normal;
  font-weight: 100;
  text-align: center;
}
.headerLogoTop {
  background-color: #FF6666;
  padding: 0px 30px 0px 30px;
  text-align: left;
}
#logo {
  position: relative;
  float: left;
  padding: 0px 0px 30px 20px;
}
.logo {
  font-size: 200%;
}
.headerLogoBottom,
.headerLogoTop {
  padding-bottom: 10px;
}
.headerLogoBottom,
.headerLogoTop,
.headerLogoTop a {
  color: white;
  font-size: 130%;
  font-family: Delicious;
}
.headerLogoTop a {
  text-decoration: none;
}
#intro {
  clear: both;
  margin-top: 20px;
}
.pagination {
  float: right;
  left: -41px;
  position: relative;
  top: -24px;
  z-index: 1000;
}
.pagination li {
  float: left;
  list-style: none;
  margin: 0 1px;
}
.pagination li a {
  background-image: url(images/pagination.png);
  background-position: 0 0;
  display: block;
  float: left;
  height: 0;
  overflow: hidden;
  padding-top: 12px;
  width: 12px;
}
.pagination li.current a {
  background-position: 0 -12px;
}
.picture_footer {
  right: 0px;
  position: absolute;
  top: -85px;
}
.slides_container a {
  display: block;
  height: 270px;
  width: 980px;
}
.slides_container a img {
  display: block;
}
.topContainer nav {
  display: block;
  position: relative;
  padding-top: 47px;
  padding-bottom: 10px;
}
.topContainer nav ul li {
  float: left;
  line-height: normal;
  margin-left: 15px;
}
.topContainer ol,
.topContainer ul {
  list-style: none;
}
.topContainer nav {
  float: right;
}
.topContainer nav ul li {
  line-height: normal;
  margin-left: 15px;
}
.topContainer nav ul li a {
  background-color: transparent;
  border-bottom: 3px solid #333333;
  color: white;
  display: block;
  font-size: 150%;
  font-weight: normal;
  margin-top: 3px;
  padding: 5px;
  text-transform: capitalize;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.topContainer nav ul li a:hover {
  color: #FF9A66;
}
.introText {
  color: #D6D6D6;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 140%;
  font-style: italic;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 16px;
  margin-left: 15px;
  margin-top: 7px;
  text-align: left;
  text-transform: none;
}
.introText h1 {
  font-size: 130%;
  font-style: normal;
  line-height: 250%;
}
.group1 {
  background: transparent;
  float: left;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.group2 {
  background: transparent;
  float: left;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  width: 34%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.group3 {
  background: transparent;
  float: left;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.group6 {
  background-image: url(images/top.png);
  background-position: left top;
  background-repeat: no-repeat;
  float: left;
  margin-bottom: 20px;
  margin-top: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
  width: 100%;
}
.bottomUpperContainer {
  background-color: #FF6666;
  background-position: left top;
  background-repeat: repeat-x;
  clear: both;
  color: white;
  width: 100%;
}
.bottomLowerContainer {
  background-color: #333333;
  background-image: url('images/bgNoLine.png');
  background-position: left top;
  background-repeat: repeat-x;
  clear: both;
  height: 150px;
  vertical-align: bottom;
  width: 100%;
}
.footerBottom {
  padding-top: 100px;
}
.footerTop {
  padding-bottom: 25px;
  padding-top: 25px;
}
.theme footer {
  position: relative;
}
.FooterTwo {
  color: white;
  float: right;
  font-size: 80%;
  text-align: center;
  width: 50%;
}
.FooterTree {
  color: white;
  float: left;
  font-size: 80%;
  text-align: center;
  width: 50%;
}
.container {
  background-color: transparent;
  margin: 0 auto;
  width: 980px;
}
.footer_left {
  float: left;
  margin-right: 76px;
  margin-top: 15px;
  padding: 12px;
  width: 170px;
}
.middleContainer {
  background-color: #E4E4E4;
  background-position: left top;
  background-repeat: repeat-x;
  color: #3F3E3C;
  height: 100%;
  line-height: 1.5;
  margin: 0 0 1px;
}
.middleContainer,
.bottomLowerContainer,
.bottomUpperContainer,
.bottomUpperContainer h1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.middleContainer,
.bottomLowerContainer,
.bottomUpperContainer {
  font-size: 1em;
}
.signature {
  color: #fff;
  font-size: 100%;
}
.spacerMain {
  padding-top: 20px;
}
.footerTop .ipwTitle {
  font-size: 160%;
}
.footerTop .ipWidget-IpText {
  font-size: 80%;
}
.ipWidget-IpText {
  clear: both;
}
.middleContainer .ipPreviewWidget {
  color: #3F3E3C;
}
.middleContainer .ipwTitle {
  clear: both;
  color: #FF6666;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.middleContainer .ipLayout-level1 {
  font-size: 160%;
}
.middleContainer .ipLayout-level2 {
  font-size: 140%;
}
.middleContainer .ipLayout-level3 {
  font-size: 120%;
}
.ipWidget-IpImageGallery li,
.ipWidget-IpLogoGallery li {
  -moz-border-radius: 5px;
  -moz-box-shadow: 2px 2px #D7D7D7;
  -webkit-box-shadow: 2px 2px #D7D7D7;
  background: #E9EAEB;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
  margin: 5px 13px 8px 0;
  padding: 8px;
}
.ipWidget-IpImage img,
.ipWidget-IpTextImage img {
  -moz-border-radius: 5px;
  -moz-box-shadow: 2px 2px #D7D7D7;
  -webkit-box-shadow: 2px 2px #D7D7D7;
  background: #E9EAEB;
  border-radius: 5px;
  position: relative;
  border: 1px solid #E1E1E1;
  margin: 5px 13px 8px 0;
  padding: 8px;
  float: left;
  box-sizing: border-box;
}
.footerContainer .ipPreviewWidget,
.footerContainer .ipPreviewWidget * {
  color: #fff;
}
.ipModuleForm .ipmControlSubmit {
  -moz-box-shadow: 2px 2px #D7D7D7;
  -webkit-box-shadow: 2px 2px #D7D7D7;
  background: #E9EAEB;
  color: #FF9966;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 12px;
  padding: 9px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.ipModuleForm .ipmControlSubmit {
  font-size: 120%;
}
.ipWidget-IpFaq .ipwQuestion,
.ipWidget-IpFaq .ipwQuestion a {
  color: #3F3E3C;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.ipmType-captcha .ipmControl img {
  padding-top: 10px;
}
.ipmControlInput,
.ipmControlTextarea {
  font-size: 100%;
}
.ipmControlTextarea {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.ipModuleForm .ipmControlSubmit:hover {
  background-color: #dcdddf;
}
.ipmErrorMessage {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 100%;
}
.ipWidget {
  padding: 0 10px;
}
.ipWidget,
.ipmControlInput,
.ipmControlSelect {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
@media (max-width: 480px) {
  .FooterOne,
  .FooterTwo,
  .FooterTree {
    padding-bottom: 5px;
  }
  #intro {
    border: 5px solid #E9EAEB;
  }
  .group1,
  .group2,
  .group3,
  .group4,
  .group5,
  .group6 {
    width: 100%;
  }
  #logo {
    float: none;
    margin: 0 auto;
    padding: 5px 0 0 0;
  }
  .logo {
    text-align: center;
  }
  .topContainer nav {
    padding-top: 0px;
  }
  .body img {
    width: 100%;
    height: auto;
  }
  .topContainer nav ul li {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .picture_footer {
    display: none;
  }
  .ipWidget-IpLogoGallery li {
    width: 100%;
  }
  .ipWidget-IpLogoGallery li img {
    width: 100%;
  }
}
